/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*  */
/* Styling starts from here */

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --spacing-side-header:3rem;

  --primary-clr:#D2C1B6;
  --fg-clr:#456882;
  --bg-clr:#1B3C53;
  --mg-clr:#234C6A;
  --white:#ECECEC;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  min-height: 100vh;
}

.user-info,
.card,
.main-content {
  color: var(--primary-clr);
}

.card svg,
.header svg {
  fill: var(--primary-clr);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color:var(--primary-clr, white);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
}

.sidebar {
    --spacing-left: 2rem;

    min-width: 220px;
    grid-row: span 2;
    display:grid;
    grid-template-rows: 1fr 3fr 7fr;
    align-content: start;

    background-color: var(--mg-clr, steelblue);
}

.top-links-group {
  margin-bottom: 1em;
}

.sidebar h1,
.sidebar ul {
  padding-left: var(--spacing-left);
  padding-top: 1rem;
}

.sidebar ul {
  --spacing-left: 2.5rem;
}

.sidebar h1,
.sidebar a {
 display: flex;
 align-items: center;
 justify-content: flex-start;
  gap: 6px;
}

.sidebar > div:nth-child(1n+2) a {
  font-size: 1.3rem;
  font-weight: 600;
}

.sidebar > div:nth-child(1n+2) a:hover {
  color:var(--white)
}

.sidebar li {
  margin-bottom: 1.1em;
}

.sidebar svg {
  fill: var(--primary-clr, white);
}

.logo svg {
  width: 50px;
}

a svg {
  width: 35px;
  margin-right: 0.5rem;
}


.header {
    background-color: var(--fg-clr, #ffffff);

    grid-column: span 1;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr 2.5fr;

    padding-top: 0.8em;
    padding-left: var(--spacing-side-header);
    padding-right: calc(var(--spacing-side-header) * 1.5);

    box-shadow: 1px 18px 33px -25px rgba(69, 104, 130, 0.753);
}

.header > div {
  display:flex;
  padding: 0 8px;
}

.search-bar {
  align-items: center;
  justify-content: flex-start;
  
}

.search-bar svg {
  width:30px;
}

input {
  background-color: var(--bg-clr);
  color:var(--primary-clr, #ffffff);

  width: 100%;
  margin-left: 1em;
  padding:0.5em 1em;

  border:none;
  border-radius: 18px;
}

input:focus-visible {
  border-color:#4590da;
}

span svg {
  width: 25px;
}

.user-info {
  align-items: center;
}

.user-info.top {
  justify-content: flex-end;
  column-gap: 1.5em;
  font-size: 1.1rem;
  font-weight:  500;

} 

.user-info.top a {
  color: var(--primary-clr, white);
}

#notif-button {
  background-color: transparent;
  padding: 8px;
}

#notif-button:hover svg {
  fill: var(--white);
}


.user-info.bottom,
.header .button {
  padding-top: 1em;
  padding-bottom: 2px;
  gap: 25px;
}

.user-info.bottom {
  font-size: 1rem;
  font-weight: 500;
}

.user-info.bottom > span > p {
  font-size: 1.8rem;
  line-height: 1;

}

.user-info img {
    border-radius: 50%;
    width: 10%;
}

.header .button {
  align-items: center;
  justify-content: flex-end;

}

.header button {
  padding:10px 30px;
  border: none;
  border-radius:50px;
  font-weight: 550;

  color:var(--bg-clr, black);
  background-color: var(--primary-clr, white);
}

button:hover {
  background-color: var(--white);
  cursor: pointer;
}

.header button:active {
  background-color: #d8c9bf;
}

.main-content {
  --spacing-half: 0.8em;

  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2em 2em 6em 2em;

  background-color: var(--bg-clr, black);
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap:20px;

  padding-right: var(--spacing-half);
}

.card,
.table-card {
  overflow: hidden;
  border-radius: 5px;
  padding: 1em;

  box-shadow: rgba(69, 104, 130, 0.438) 2.4px 2.4px 3.2px;
  background-color:var(--mg-clr, white);

}

.card-section > p,
.table-section > div > p {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.card {
  --accent-color-card: grey;

  border-left: 10px solid var(--accent-color-card, grey);
  height: 230px;

  display: grid;
  grid-template-rows: 1fr 4fr;
}

.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 96px;

}

button svg {
  width: 24px;
  
}

.card-task-bar {
  justify-self: end;
}

.card-task-bar > button {
  background-color: transparent;
  padding:8px 15px;
  border: none;
  border-radius: 5px;
}

.card-task-bar > button:hover {
  background-color: var(--fg-clr);
}

.card:nth-child(odd) {
  --accent-color-card: skyblue;
}

.card:nth-child(even) {
  --accent-color-card: steelblue;
}

.table-section {
  padding-left: var(--spacing-half);
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  max-height: 100%;
}

.table-card {
  padding: 1em 2em;
  margin-bottom: 2em;

}

.message {
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin: 1em 0;

}

.message p {
  margin-bottom: 1em;
  height: 50px;
  line-height: 1.15;
  overflow: hidden;
}


.other-user {
  display:flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;

}

.other-user img {
  width: 18%;
}

.other-user > span {
  line-height: 1.2;
  font-weight: 500;
  flex: 3 30px;
}

.other-user > span > p {
  font-weight: 400;
}


/* Media queries */

@media (max-width: 1235px) {
  .table-section {
    display: block;
  }

  .section-top > .table-card {
    margin-bottom: 3em;
  }

}

@media (max-width: 960px) {
  .container {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 6fr
  }

  .sidebar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: auto;
    grid-row: span 1;
    grid-column: span 2;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }


  .header {
    grid-row: 1/2;
    grid-column: span 2;
  }

  .main-content {
    grid-row: 3/4;
    grid-column: span 2;
  }

}