/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*  */
/* Styling starts from here */

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --spacing-side-header:3rem;

}

body {
  font-family: var(--font-family);
  font-size: 16px;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color:white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
}

.sidebar {
    min-width: 220px;
    grid-row: span 2;
    display:grid;
    grid-template-rows: 1fr 3fr 7fr;
    align-content: start;

    color:white;
    background-color: #4590da;
}

.sidebar h1,
.sidebar ul {
  padding-left: 2rem;
  padding-top: 1rem;
}

.sidebar a {
  font-size: 1.3rem;
  font-weight: 600;
}


.sidebar li {
  margin-bottom: 10px;
}

.top-links-group {
  margin-bottom: 1em;
}

.header {
    background-color: #ffffff;

    grid-column: span 1;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr 2.5fr;

    padding-top: 0.8em;
    padding-left: var(--spacing-side-header);
    padding-right: calc(var(--spacing-side-header) * 1.5);

    box-shadow: 1px 18px 33px -25px rgba(26, 26, 26, 0.4);
}

.header > div {
  display:flex;
  padding: 0 8px;
}

.search-bar {
  align-items: center;
  justify-content: flex-start;
  
}

input {
  background-color: #e2e8f0;
  color:#0E266F;

  width: 100%;
  margin-left: 1em;
  padding:0.5em 1em;

  border:none;
  border-radius: 18px;
}

input:focus {
  border-color:#4590da;
}

span svg {
  width: 25px;
}

.user-info {
  align-items: center;
}

.user-info.top {
  justify-content: flex-end;
  column-gap: 1.5em;
  font-size: 1.1rem;
  font-weight:  500;

} 

.user-info.bottom,
.header .button {
  padding-top: 1em;
  padding-bottom: 2px;
  gap: 25px;
}

.user-info.bottom {
  font-size: 1rem;
  font-weight: 500;
}

.user-info.bottom > span > p {
  font-size: 1.8rem;
  line-height: 1;

}

.user-info img {
    border-radius: 50%;
    width: 10%;
}

.header .button {
  align-items: center;
  justify-content: flex-end;

}

.header button {
  padding:10px 30px;
  border: none;
  border-radius:50px;

  color:white;
  background-color: #4590da;
}

button:hover {
  background-color: #2e6eaf;
  cursor: pointer;
}

.main-content {
  --spacing-half: 1em;


  display: grid;
  grid-template-columns: 2fr 1fr;

  padding: 3em 2em 6em 2em;

  background-color: #e2e8f0;
}

.main-content > div {
  border: 1px solid;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap:20px;

  overflow: auto;
  padding-right: var(--spacing-half);
  max-height: 700px;
}

.card {
  --accent-color-card: grey;

  height: 200px;
  border-radius: 5px;
  padding: 1em;
  border-left: 10px solid var(--accent-color-card, grey);

  background-color:white;

  overflow: auto;
}

button svg {
  width: 25px;
}

.card-task-bar > button {
  background-color: none;
  padding:none;
  border: none;
}

.card:nth-child(odd) {
  --accent-color-card: limegreen;
}

.card:nth-child(even) {
  --accent-color-card: rgb(245, 234, 75);
}

.table-section {
  padding-left: var(--spacing-half);
}